[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = vaggani-purushotham
	email = purushothamvaggani@gmail.com
[http]
	postBuffer = 524288000
